@import "../../../swc_web_v2/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";
@import "../../../swc_web_v2/search_mrsparkle/exposed/js/views/dashboard/DashboardPage.pcss";

$staticFontPath:  "../../../fonts";

input:disabled {
    color: #a9a9a9 !important;
    background: #f2f4f5 !important;
    visibility: visible !important;
}
